.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
}

.modalLogo{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
}

.modalLogo img{
    width: 400px;
    height: 75px;
}

.modalcontent {
    background-color: green;
    margin: auto;
    width: 100%;
    max-width: 600px;
    height: 400px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.modalcontent h2 {
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;

    text-align: center;
}

.cardscontainer {
    margin: auto;
    gap: 15px;
    background-color: green;
    width: 80%;
    height: 300px;
    border-radius: 5px;
    overflow-y: auto;
}

.cardmodal {
    margin: auto;
    margin-bottom: 10px;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
    height: 80px;
    gap: 10px;
    padding: 4px 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);
}

.cardimg {
    width: 75px;
    place-items: center;
}

.cardimg img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
}

.info {
    width: 100%;
    font-size: 15px;
}

.verBTN:hover{
    cursor: pointer;
}