.body {
    min-height: 100vh;
    background: #F6F6F6;
}

.main {
    display: flex;
    margin-top: 55px;
}

.content {
    width: 100%;
    margin-left: 250px;
    margin-right: 20px;
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 800px) {
    .content {
        margin-left: 0;
        margin-right: 0;
        padding: 10px 15px;
    }
}

@media (max-width: 420px) {
    .content {
        padding: 10px;
    }
}