.body{
  min-height: 100vh;
  background: #F6F6F6;
  /*background: linear-gradient(90deg, rgba(246, 246, 246, 1) 47%, rgba(148, 255, 193, 1) 100%);*/
}

.main {
  display: flex;
  margin-top: 65px;
}

.content {
  width: 100%;
  margin-left: 270px;  
  margin-right: 20px;
}