.content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
}

.containerLogo{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
}

.container {
    background-color: white;
    margin: auto;
    width: 100%;
    max-width: 450px;
    height: 400px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container h2{
    font-weight: bold;
    font-size: 22px;

    text-align: center;
}

.container p{
    text-align: center;
    font-size: 15px;
}

.inputlogin{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.inputlogin input[type='text'], .inputlogin input[type='password']{
    border-radius: 5px;
    border: solid 1px black;
    padding: 5px;
}

.inputError {
    border: 1px solid red !important;
}

.resBTN{
    background-color: #008237;
    color: white;
    padding: 4px 0;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.resBTN:hover{
    background-color: #01662c;
    cursor: pointer;
}

.spanError {
    font-size: 10px;
    color: red;
    margin-top: 4px;
    visibility: hidden; 
    height: 12px; 
    text-align: center;
}
.err {
    visibility: visible !important; 
}
