.modalOverlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.3);
    border: 2px solid #008237;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
}

.headModal {
    background-color: #008237;
    color: white;
    border-radius: 5px 5px 0 0;
    margin-bottom: 25px;
}

.headModal h2 {
    padding: 5px 0;
    font-size: 18px;
    text-align: center;
}

.listaRoles {
    display: flex;
    flex-direction: column;
    height: 250px;
    overflow-y: auto;
}

.listaRoles::-webkit-scrollbar { width: 4px; }
.listaRoles::-webkit-scrollbar-thumb { background-color: #008237; border-radius: 20px; }

.rolItem {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid black;
}

.modalBtns {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}

.Btncrear {
    background-color: #008237;
    border: none;
    border-radius: 5px;
    color: white;
    width: 100px;
    padding: 6px 0;
    cursor: pointer;
}

.Btncrear:hover { background-color: #005221; }
.Btncrear:disabled { opacity: 0.5; cursor: not-allowed; }

.Btncancelar {
    background-color: #a11313;
    border: none;
    border-radius: 5px;
    color: white;
    width: 100px;
    padding: 6px 0;
    cursor: pointer;
}

.Btncancelar:hover { background-color: #610c0c; }

@media (max-width: 800px) {
    .modal { width: calc(100% - 32px); }
}