.header{
    box-shadow: 0 3px 5px rgb(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    height: 55px;
    left: 250px;
    z-index: 98;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ease, margin-left 0.3s ease;
}
.navbar {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    padding: 0 10px;
    
}

.navbarright {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; 
    margin-right: 40px;   
}

.navbarright img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navicons{
    cursor: pointer;
}

.headerColapsado {
    left: 60px; 
}

@media (max-width: 800px) {
    .header {
        width: 100%;
        margin-left: 0;
        padding-left: 60px; /* espacio para el botón hamburguesa */
    }

    .navbarright {
        margin-right: 10px;
    }

    .headerColapsado {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 420px) {
    .navbarright span {
        display: none; /* oculta el nombre en pantallas muy pequeñas */
    }
}