.contentstudent {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

    padding: 20px;

    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    width: 100%;
}

.cardstudent {
    flex: 1;
    min-width: 220px;
    text-align: start;
}

.cardstudent h3 {
    margin-bottom: 15px;
}

.cardstudent p {
    margin-bottom: 8px;
    word-break: break-word;
}

.cardimgstudent {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 180px;
}

.cardimgstudent img {
    width: 180px;
    height: 160px;
    object-fit: cover;

    border-radius: 50%;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 800px) {

    .contentstudent {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        padding: 20px;
    }

    .cardstudent {
        flex: 1 1 320px;
        min-width: 280px;
    }

    .cardimgstudent {
        order: -1;
        width: 100%;
    }

    .cardimgstudent img {
        width: 160px;
        height: 160px;
    }

}

@media (max-width: 420px) {

    .contentstudent {
        flex-direction: column;
        align-items: center;

        padding: 10px;
        gap: 10px; /* Antes 18px */
    }

    .cardstudent {
        width: 100%;
        min-width: 100%;
        text-align: left;
    }

    .cardstudent h3 {
        text-align: center;
        margin-bottom: 8px; 
    }

    .cardstudent p {
        font-size: 14px;
        margin-bottom: 4px;
        line-height: 1.3;
    }

    .cardimgstudent {
        min-width: auto;
    }

    .cardimgstudent img {
        width: 120px;
        height: 120px;
    }

}