.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.3);
    border: 2px solid #008237;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
}

.headModal{
    background-color: #008237;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 25px;
    width: 100%;
}

.headModal h2{
    padding: 5px 0;
}

.formGroup {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input, .formGroup select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modalBtns {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}

.BtnAceptar {
    background-color: #008237;
    border: none;
    border-radius: 5px;
    color: white;
    width: 100px;
}

.BtnAceptar:hover{
    cursor: pointer;
    background-color: #005221;
}

.Btncancelar {
    background-color: #a11313;
    border: none;
    border-radius: 5px;
    color: white;
    width: 100px;
}

.Btncancelar:hover{
    cursor: pointer;
    background-color: #610c0c;
}

.mensajeConfirm {
    font-size: 14px;
    color: black;
    margin: 0.5rem 0 1rem;
    line-height: 1.5;
}